<!-- TODO: Adjust the 'TODO_*' occurrences with correct values -->
<html lang="en" ng-app="app">

<head>
    <!--
            This dynamic HTML page loads the changelog.yaml from the specified repository
            and renders a more readable, formatted HTML version of it.
            
            This page supports direct links to specific versions by appending '#<version>' to the URL.
            This page supports rendering of specific versions by appending query parameter '?version=<version>' to the URL.
            This page supports rendering of specific version ranges by appending query parameters '?from=<version>&to=<version>' to the URL.
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base target="_top">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.14.0/js-yaml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.8.2/angular-sanitize.min.js"></script>
    <script>
        const outerUrl = top.location.href.split("?")[0];
        const innerUrl = document.location.href.split("?")[0];
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        if(outerUrl == innerUrl) {
            //The parameters in this section only have to be maintained if this html file is used directly and not within the iframe of an outer html file.
            /* --- Enter repo-specific values here --- */
            repoOrg = "SAP"
            repoName = "stewardci-core"
            githubUrl = "https://github.com"
            jiraUrl = ""
            jiraProjectName = ""
            changelogYamlUrl = "https://raw.githubusercontent.com/SAP/stewardci-core/master/changelog.yaml"
            /* --------------------------------------- */
        } else {
            //If this html file is used within the iframe of the outer html file, the parameters are taken from the (iframe) query parameters.
            repoOrg = urlParams.get("repoOrg");
            repoName = urlParams.get("repoName")
            githubUrl = urlParams.get("githubUrl")
            jiraUrl = urlParams.get("jiraUrl")
            jiraProjectName = urlParams.get("jiraProjectName")
            changelogYamlUrl = urlParams.get("changelogYamlUrl")
        }
        const repoUrl = githubUrl+"/"+repoOrg+"/"+repoName;

        var app = angular.module('app', []);
        angular.module('app', ['ngSanitize']).controller('MyController', ['$scope', function ($scope) {
            $scope.changelog = [];
            $scope.outerUrl = outerUrl;
            $scope.config = {
                repoOrg: repoOrg,
                repoName: repoName,
                repoUrl: repoUrl,
                changelogYamlUrl: changelogYamlUrl,
                jiraUrl: jiraUrl,
                jiraProjectName: jiraProjectName
            };
            let queryString = window.location.search;
            let urlParams = new URLSearchParams(queryString);
            let versionFilter = urlParams.get("version")
            let fromToFilter = {
                from: urlParams.get("from"),
                to: urlParams.get("to"),
                toReached: false,
                fromReached: false
            }
            $scope.filter = {
                version: versionFilter ? versionFilter : ""
            };

            xmlhttp = new XMLHttpRequest();
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    let changelog = jsyaml.load(xmlhttp.responseText);
                    for (let ci = 0; ci < (changelog ? changelog.length : 0); ci++) {
                        let release = changelog[ci];
                        release.dateString = release.version == "NEXT" ? "soon" : new Date(release.date).toDateString();
                        release.renderClass = release.version == "NEXT" ? "next" : "release"
                        release.display = filterFromTo(release.version, fromToFilter);
                        if(release.recall) {
                            release.recall.messageHTML = markdown2Html(release.recall.message);
                        }
                        for (let ri = 0; ri < (release.changes ? release.changes.length : 0); ri++) {
                            let change = release.changes[ri];
                            change.pullRequestNumbers = (typeof change.pullRequestNumber == "number") ? [change.pullRequestNumber] : change.pullRequestNumber;
                            change.jiraIssueNumbers = (typeof change.jiraIssueNumber == "number") ? [change.jiraIssueNumber] : change.jiraIssueNumber;
                            change.descriptionHtml = markdown2Html(change.description);
                            change.warningHtml = markdown2Html(change.warning);
                            change.upgradeNotesHtml = markdown2Html(change.upgradeNotes);
                            change.deprecationsHtml = markdown2Html(change.deprecations);
                        }
                    }
                    $scope.changelog = changelog;
                    $scope.$apply();
                }
            }
            xmlhttp.open("GET", changelogYamlUrl, true);
            xmlhttp.send();
        }]);

        function filterFromTo(version, filter) {
            let result = true;
            if(filter.to && version == filter.to) {
                filter.toReached = true;
            } else  if(filter.to && !filter.toReached) {
                result = false;
            }
            if(filter.from && filter.fromReached) {
                result = false;
            } else if(filter.from && version == filter.from) {
                filter.fromReached = true;
            }
            return result;
        }

        function markdown2Html(markdownText) {
            let mdConverter = new showdown.Converter();
            let html = mdConverter.makeHtml(markdownText);
            return html;
        }

    </script>

    <style>
        .next {
            background-color: lightgoldenrodyellow;
        }
        .link {
            color: black;
        }
        .link:hover {
            text-decoration: none;
        }
        .hidden {
            color: #e9ecef; /* .jumbotron background-color */
        }
        .icon {
            vertical-align: middle;
            position: relative;
            top: -0.1em;
        }
        .recall-text {
            font-weight: bolder;
            color: #dc3545; /* .badge-danger background-color */
        }
    </style>
</head>

<body ng-controller="MyController">
    <div class="container-md">
        <h1>Changelog</h1>
        <p>
            <a href="{{config.repoUrl}}">
                <img src="https://github.githubassets.com/images/modules/logos_page/Octocat.png" width="30px">
                <b>{{config.repoOrg}}/{{config.repoName}}</b>
            </a>
        </p>
        <p>
            This generated changelog is based on the latest released <a href="{{config.changelogYamlUrl}}">changelog.yaml</a>.
            Click here to <a href="{{outerUrl}}?">list all versions</a>.
        </p>
        <div class="jumbotron shadow {{release.renderClass}}" ng-repeat="release in changelog | filter : {version: filter.version, display: true}"
            ng-if="release.changes.length > 0">
            <h3 class="display-4" id="{{release.version}}">
                <span ng-if="release.recall" class="icon badge badge-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="0.7em" height="0.7em" fill="currentColor" class="bi bi-bug" viewBox="0 0 16 16">
                        <path d="M4.355.522a.5.5 0 0 1 .623.333l.291.956A4.979 4.979 0 0 1 8 1c1.007 0 1.946.298 2.731.811l.29-.956a.5.5 0 1 1 .957.29l-.41 1.352A4.985 4.985 0 0 1 13 6h.5a.5.5 0 0 0 .5-.5V5a.5.5 0 0 1 1 0v.5A1.5 1.5 0 0 1 13.5 7H13v1h1.5a.5.5 0 0 1 0 1H13v1h.5a1.5 1.5 0 0 1 1.5 1.5v.5a.5.5 0 1 1-1 0v-.5a.5.5 0 0 0-.5-.5H13a5 5 0 0 1-10 0h-.5a.5.5 0 0 0-.5.5v.5a.5.5 0 1 1-1 0v-.5A1.5 1.5 0 0 1 2.5 10H3V9H1.5a.5.5 0 0 1 0-1H3V7h-.5A1.5 1.5 0 0 1 1 5.5V5a.5.5 0 0 1 1 0v.5a.5.5 0 0 0 .5.5H3c0-1.364.547-2.601 1.432-3.503l-.41-1.352a.5.5 0 0 1 .333-.623zM4 7v4a4 4 0 0 0 3.5 3.97V7H4zm4.5 0v7.97A4 4 0 0 0 12 11V7H8.5zM12 6a3.989 3.989 0 0 0-1.334-2.982A3.983 3.983 0 0 0 8 2a3.983 3.983 0 0 0-2.667 1.018A3.989 3.989 0 0 0 4 6h8z"/>
                    </svg>
                </span>
                <a class="link" href="{{config.repoUrl}}/releases/tag/{{release.version}}">{{release.version}}</a>
                <a class="link hidden" href="{{outerUrl}}?version={{release.version}}">
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="0.6em" height="0.6em" fill="currentColor" class="bi bi-link" viewBox="0 0 16 16">
                            <path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
                            <path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
                        </svg>
                    </span>
                </a>
            </h3>
            <p>Release Date: {{release.dateString}}</p>
            <p ng-if="release.recall" ng-bind-html="release.recall.messageHTML" class="recall-text"></p>
            <div>
                <div ng-repeat="change in release.changes">
                    <hr class="my-4">
                    <h4>{{change.title}}</h4>
                    <p class="font-weight-lighter">Type: {{change.type}} / Impact: {{change.impact}}</p>

                    <p ng-bind-html="change.descriptionHtml"></p>

                    <div class="row">
                        <div ng-if="change.warning" class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <span class="icon badge badge-warning">
                                            <svg width="1.0625em" height="1em" viewBox="0 0 17 16"
                                                class="bi bi-exclamation-triangle" fill="currentColor"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z" />
                                                <path
                                                    d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z" />
                                            </svg></span>
                                        Warning
                                    </h5>
                                    <p class="card-text" ng-bind-html="change.warningHtml"></p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="change.upgradeNotes" class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <span class="icon badge badge-danger">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z" />
                                            </svg></span>
                                        Upgrade Notes
                                    </h5>
                                    <p class="card-text" ng-bind-html="change.upgradeNotesHtml"></p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="change.deprecations" class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <span class="icon badge badge-info">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd"
                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </span>
                                        Deprecations
                                    </h5>
                                    <p class="card-text" ng-bind-html="change.deprecationsHtml"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p>
                        <span ng-repeat="prNumber in change.pullRequestNumbers">
                            <span ng-if="$index > 0">, </span>
                            <a href="{{config.repoUrl}}/pull/{{prNumber}}">#{{prNumber}}</a>
                        </span>
                        <span ng-if="change.pullRequestNumber && change.jiraIssueNumber"> | </span>
                        <span ng-repeat="issueNumber in change.jiraIssueNumbers">
                            <span ng-if="$index > 0">, </span>
                            <a href="{{config.jiraUrl}}/browse/{{config.jiraProjectName}}-{{issueNumber}}">{{config.jiraProjectName}}<span
                                    ng-if="config.jiraProjectName">-</span>{{issueNumber}}</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>