kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: steward-client
  labels:
    {{- include "steward.labels" . | nindent 4 }}
rules:
- apiGroups: ["steward.sap.com"]
  resources: ["tenants"]
  verbs: ["create","delete","get","list","patch","update","watch"]
