apiVersion: apps/v1
kind: Deployment
metadata:
  name: steward-run-controller
  namespace: {{ .Values.targetNamespace.name | quote }}
  labels:
    {{- include "steward.labels" . | nindent 4 }}
    {{- include "steward.runController.componentLabel" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "steward.selectorLabels" . | nindent 6 }}
      {{- include "steward.runController.componentLabel" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "steward.selectorLabels" . | nindent 8 }}
        {{- include "steward.runController.componentLabel" . | nindent 8 }}
    spec:
      serviceAccountName: steward-run-controller
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.runController.podSecurityContext | nindent 8 }}
      containers:
      - name: controller
        securityContext:
          {{- toYaml .Values.runController.securityContext | nindent 10 }}
        {{- with .Values.runController.image }}
        image: {{ printf "%s:%s" .repository .tag | quote }}
        imagePullPolicy: {{ .pullPolicy | quote }}
        {{- end }}
        args:
        - {{ printf "-qps=%d" ( .Values.runController.args.qps | int ) | quote }}
        - {{ printf "-burst=%d" ( .Values.runController.args.burst | int ) | quote }}
        - {{ printf "-threadiness=%d" ( .Values.runController.args.threadiness | int ) | quote }}
        {{- with .Values.runController.args.logVerbosity }}
        - {{ printf "-v=%d" ( . | int ) | quote }}
        {{- end }}
        {{- with .Values.runController.args.heartbeatInterval }}
        - {{ printf "-heartbeat-interval=%s" . | quote }}
        {{- end }}
        {{- with .Values.runController.args.heartbeatLogging }}
        - {{ printf "-heartbeat-logging=%s" ( . | ternary "true" "false" ) | quote }}
        {{- end }}
        {{- with .Values.runController.args.heartbeatLogLevel }}
        - {{ printf "-heartbeat-log-level=%d" ( . | int ) | quote }}
        {{- end }}
        {{- with .Values.runController.args.k8sAPIRequestTimeout }}
        - {{ printf "-k8s-api-request-timeout=%s" . | quote }}
        {{- end }}
        command:
        - /app/steward-runctl
        env:
        - name: SYSTEM_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: "metadata.namespace"
        - name: STEWARD_FEATURE_FLAGS
          value: {{ .Values.featureFlags | quote }}
        ports:
          - name: http-metrics
            containerPort: 9090
            protocol: TCP
        resources:
          {{- toYaml .Values.runController.resources | nindent 10 }}
      {{- with .Values.runController.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.runController.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.runController.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
